html{
	font-family: Helvetica;
	background-color: white;
}

h1 {
	font-size:1.2em;
	text-align: left;
	font-weight: normal;
}

h2{
	text-align: left;
}

h4{
	text-align: left;
	border-bottom: 1px;
}

p {
	text-align: left
}

a.imagelink{
	float:left;
	margin-right: 20px
}

a:link {color:darkgrey;}      /* unvisited link */
a:visited {color:darkgrey;}  /* visited link */
a:hover {color:darkgrey;}  /* mouse over link */
a:active {color:darkgrey;}


.page{
	width: 80%;
	margin: auto;
	min-width: 1050px;
	max-width: 1420px;
}

.nav{
	float:left;
	width: 220px;
	position: fixed;
	padding-top: 60px;
}

.main{
	/*width:79%;*/
	float:right;
	max-width: 1200px;
	min-width: 830px;
	margin-left:  220px;
}

.post{
	float:left;
	margin-bottom: 15px
}

#pagehead{
	border-bottom: 1px
}

.navlink {
	text-decoration: none
}

.navlist{
	list-style: none;
	text-align:left;
}



