$site-font: "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$highlight-colour:#4CAF50;
$background-colour:white;
$nav-bar-colour:#fff;
$caption-height: 330px;
$caption-width: 300px;
$site-colour: #555555;

$header-text-size:18px;
$body-text-size:15px;

html body{
	font-family: $site-font;
	background-color: $background-colour;
	margin: 0px;
	padding: 0px;	
	text-align: left;
}

.in-transition{
    transition: transform 500ms ease-in-out
}

h1 {
	font-size:1.4em;
	font-weight: normal;
}

h4{
	border-bottom: 1px;
}

a {
	text-decoration:none;
  	&:link {color:darkgrey;}
  	&:visited {color:darkgrey; }
  	&:hover { color:darkgrey;}
  	&:active { color:pink;}
  	&.imagelink{
  		float:left;
		margin-right: 20px
  	}
}

.bodydiv{
	width:90%;
	// max-width: 966px;
	min-width: 930px;
	margin: auto
}

div.topnav{
	background-color: $nav-bar-colour;
	width:90%;
	margin:auto;
	z-index:1;
	border-bottom:thin solid lightgray;
    box-sizing: border-box;
    height: 50px
}

.topnav #aboutlink{
	  float: left;
}
.topnav a{
  display: block;
  color: #363636;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 18px;
    &.active{
    	background-color: $highlight-colour;
    	color: white;	
    }
    &:hover{
    	background-color: #ddd;
  		color: black;
    }

}

/* Margin/Padding hack to account for scroll bar when nav scrolling*/

#about{
	margin-top: -40px;
	// padding-top: 40px;
}

#projects{
	margin-top: -40px;
}

/*Selected projects styles*/
.my-wrapper{
	border:1px solid lightgrey;
	width: $caption-width;
	height: $caption-height;
	margin:10px
}

.my-wrapper:hover {
    -webkit-transition: all 100ms ease-in;
    -webkit-transform: scale(1.1);
    -ms-transition: all 100ms ease-in;
    -ms-transform: scale(1.1);
    -moz-transition: all 100ms ease-in;
    -moz-transform: scale(1.1);
    transition: all 100ms ease-in;
    transform: scale(1.1);
    cursor: pointer;
    z-index: 2;
    /*box-shadow: 0px 0px 50px #b5b5b5; */
  }

.floatleft{
	float:left;
}

.float-right{
	float:right;
}

div.caption{
	color:$site-colour;
	margin: 5px;
}

span.caption-header{
	font-size: s$header-text-size;
}

p.caption-body{
	font-size: $body-text-size;
}

.text-centered{
	text-align: center;
}
.column {
  display: block;
  flex-basis: 0;
  flex-grow: 1;
  flex-shrink: 1;
  padding: 0.75rem; }
