doctype
html
  head
    title Matthew Salt's Programming Site
    link(rel="stylesheet" href="/css/style.css")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js')
    script(src="/js/project.js")
  body
      div.topnav
        a#aboutlink(href="#about") About Me
        a#projectslink(href="#projects") Projects
        a#contactlink(href="#contact") Contact
        a(href="https://www.linkedin.com/in/matthew-salt-4b674328/" style="float:right") Linkedin
        a(href="https://github.com/mattsalt" style="float:right") GitHub
      div(style="display:block;padding:45px;")
        != yield

