doctype
html
  head
    title Matthew Salt's Programming Site
    link(rel="stylesheet" href="/css/style.css")
  body
      div.topnav#navigation
        a#aboutlink.navlink(href="#about") About Me
        a#projectslink.navlink(href="#projects") Projects
        a#contactlink.navlink(href="#contact") Contact
        a(href="https://www.linkedin.com/in/matthew-salt-4b674328/" style="float:right") Linkedin
        a(href="https://github.com/mattsalt" style="float:right") GitHub
      div#scrolling(style="display:block;padding:45px;")
        != yield
  script(src="/js/project.js")
