div#contact.bodydiv(style="colour:#555555")
 h1(style="font-weight:400") Contact
 p
   | Got a question or feedback about one of my projects? Got a role you think I might be interested in or want to collaborate on a project? 
 p 
   | Whatever it is I'd love to hear from you.
 p The best way to reach me is via email or #[a(href="https://www.linkedin.com/in/matthew-salt-4b674328/") LinkedIn].

