div.bodydiv
     h1(style="text-align:center") Matthew Salt's Programming Site
     | Welcome to my little corner of the internet. I created this site to collect all my side projects into a single place and to provide a bit of information about my career as a developer.

     