div#about.bodydiv(style="colour:#555555;display:flex")
    div.column(style="flex:none;width:40%")
      img(src="/img/profile2.jpg" style="margin:auto; padding:25px;border-radius:35px")
    div.column
      p I'm Matthew Salt, I write software for a living and also for fun. For my day job I work on a distributed trading application for Citigroup, mostly using java. At home I play around with whatever interests me. At the moment that is JavaScript and Swift.

      h4 In brief

      p I started programming at university using Fortran for simulations and modelling. After university I got a job with JHC, a small financial software company specialising in asset management software. Initially thrown in to the world of IBM RPG programming on the AS/400, I also dabbled in Java on the side. I figured that this would be a more interesting language to use and also open up more career options in the future so I applied for a job in one of the teams using java at JHC. 

      p My next move was to Commerzbank AG where I worked on a team responsible for fixed income etrading system. After a couple of years there I was ready for new challenge and decided it was time to move on. My next and current role is as a software developer at Citi helping to redesign their Index CDS trading platform. 

      P I've tinkered with different things at home from Arduino microcontrollers to Raspberry Pis and Python. In the last year or so I've been looking at node.js and Swift. You can find some examples of these side projects on my projects page or on github.

      p Whenever I can I like to get out of the city and into the countryside. On a summer evening you'll sometimes find me on a hill near London in a bivvy bag. I'm slowly working my way through the UK's national trails and in 2015 a friend and I decided to row from Lechlade to Putney. I'm always looking for the next challenge whether it's tech related or outdoors.