div.nav#left
    ul.navlist
      li
        a.navlink(href="#") Home
      li
        a.navlink(href="/pages/project.html") Project   
      li
        a.navlink(href="/pages/about.html") About
      li
        a.navlink(href="/pages/contact.html") Contact