doctype
html
  head
    meta(name="viewport" content="initial-scale=1, maximum-scale=1")
    meta(name="description" content="Matthew Salt is a British programmer living in London escaping to the countryside whenever possible.")
    title= title
    link(rel="stylesheet" href="/css/style.css")
    script.
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-104708364-1', 'auto');
       ga('send', 'pageview');

  body
      div.topnav#navigation
        a#aboutlink(href="/index") Matthew Salt
        a.float-right(href="https://www.linkedin.com/in/matthew-salt-4b674328/") Linkedin
        a.float-right(href="https://github.com/mattsalt") GitHub
        a.smoothscroll#contactlink.float-right(href="/pages/contact") Contact
        a.smoothscroll#projectslink.float-right(href="/pages/projects") Projects
      div#scrolling(style="display:block;padding:45px;")
        != yield
  !=partial("partial/_footer.jade")
  script(src="/js/project.js")
