div.bodydiv.flexy
    div
      img.profile-img(src="/img/profile2.jpg")
    div.flexy-column(style="text-align:justify")
      p Hi there, I'm Matthew Salt. I’m a London based developer who writes software for a living and for fun. 

      p For my day job I work on financial trading applications for global banks, mostly using Java.

      p Recently I’ve been redesigning an index CDS trading platform and championing improvements to internal software development practices. 
      hr
      p.section Find out more about my skills and career on my #[a(href="https://www.linkedin.com/in/matthew-salt-4b674328/") LinkedIn] page.

      br
      p At home, I love to tinker with software and new technology. At the moment that's JavaScript (node.js) and Swift.
      p I'm currently working on TabSharer, a way to send tabs and links to friends using browser extensions.
      hr
      p.section Take a look at my #[a(href="/pages/projects.html") Projects] page to see more of my work.