div.bodydiv
 h1 Contact
 p
   | Got a question or feedback about one of my projects? Have a role you think I might be interested in or want to collaborate on a project? 
 p 
   | Whatever it is please do get in touch. The best way to reach me is via #[a(href="mailto:mail@matthewsalt.com") email] or #[a(href="https://www.linkedin.com/in/matthew-salt-4b674328/") LinkedIn].

