div.bodydiv
  div.pagediv
   div.header
      h1 Selected Projects
      p Below is a selection of some of things I've worked on outside of my day job. 

   div.project-gallery
    div.flexy-row-even
      div.my-wrapper.floatleft
        a(href="https://itunes.apple.com/us/app/search-when-home/id1273545274?ls=1&mt=8")
           if environment == "production"
             img(src="https://res.cloudinary.com/ceresstop/image/upload/v1508486838/SearchWhenHome_rw6xdb.png")
           else
             img(src='/img/SearchWhenHome.png' height="216" width="300" title="Search When Home Main Page")
           div.caption
             span.caption-header Search When Home
             br
             p.caption-body iOS app to remind you to look things up when you get home.

      div.my-wrapper.floatleft
        a(href="https://github.com/mattsalt/clockly")
          if environment == "production"
            img(src='https://res.cloudinary.com/ceresstop/image/upload/v1508486535/clocklyanalog_mtkaiy_cwkudq.png' height="216" width="300" title="clockly analog display")
          else
            img(src='/img/clocklyanalog.png' height="216" width="300" title="clockly analog display")
          div.caption
            span.caption-header Clockly
            p.caption-body macOS menu bar application to show the current time in multiple locations.   
   
      div.my-wrapper.floatleft
       a(href="https://www.npmjs.com/package/national-rail-darwin")
         if environment == "production"
           img(src='https://res.cloudinary.com/ceresstop/image/upload/v1508486972/natraildar_qpl0za.png' height="216" width="300" title="national-rail-darwin npm home page")
         else
           img(src='/img/natraildar.png' height="216" width="300" title="national-rail-darwin npm home page")
       div.caption
         span.caption-header National Rail Darwin module
         p.caption-body js module for talking to National Rail's SOAP api. Returns JSON objects.

    div.flexy-row-even
      div.my-wrapper.floatleft
        a(href="https://itunes.apple.com/us/app/train-board/id1234103097?ls=1&mt=8")
          if environment == "production"
            img(src='https://res.cloudinary.com/ceresstop/image/upload/v1508486798/trainboard_t0xta5.png' height="216" width="300" title="TrainBoard screenshot")
          else  
            img(src='/img/trainboard.png' height="216" width="300" title="TrainBoard screenshot")
          div.caption
            span.caption-header TrainBoard
            br
            p.caption-body iOS app showing live train departure information between two stations.
      
      div.my-wrapper.floatleft
        a(href="https://www.mytravelupdates.co.uk")
          if environment == "production"
            img(src='https://res.cloudinary.com/ceresstop/image/upload/v1508486974/mytravupscreenshot_jbaj5l.png' height="216" width="300" title="MyTravelUpdates screenshot")
          else  
            img(src='/img/mytravupscreenshot.png' height="216" width="300" title="MyTravelUpdates screenshot")
          div.caption
            span.caption-header mytravelupdates
            p.caption-body Provides scheduled train status updates for a specific trains via email or twitter direct  messages.
      

      div.my-wrapper.floatleft
        a(href="https://chrome.google.com/webstore/detail/open-link-in-duplicate-ta/decochkhfdfamopdemciggmhlgdcdndm")
          if environment == "production"
            img(src='https://res.cloudinary.com/ceresstop/image/upload/v1508488313/open-link-in-duplicate_fasarq.png' height="216" width="300" title="open-link-in-duplicate")
          else  
            img(src='/img/open-link-in-duplicate.png' height="216" width="300" title="open-link-in-duplicate")
          div.caption
            span.caption-header Open Link in Duplicate Tab
            p.caption-body Extension for the Chrome browser that allows you to open a link in a new tab with the current tabs browsing history.

    div.flexy-row-even
      div.my-wrapper.floatleft
        a(href="https://itunes.apple.com/us/app/btl-profit-calculator/id1195428899?ls=1&mt=8")
          if environment == "production"
            img(src='http://res.cloudinary.com/ceresstop/image/upload/v1508403875/btlcalc_xcx4gn.jpg' height="216" width="300" title="national-rail-darwin npm home page")
          else
            img(src='/img/btlcalc.png' height="216" width="300" title="national-rail-darwin npm home page")
          div.caption
            span.caption-header BTL Calculator
            p.caption-body Simple iOS app to estimate the profit on a rented property.

      div.my-wrapper.floatleft
        a(href="https://github.com/mattsalt/AnalogClock")
          if environment == "production"
            img(src='https://res.cloudinary.com/ceresstop/image/upload/v1508487035/analogclock_wy2la3.png' height="216" width="300" title="analog clock")
          else  
            img(src='/img/analogclock.png' height="216" width="300" title="analog clock")
          div.caption
            span.caption-header Analog Clock
            p.caption-body Swift 3 class for a customizable analog clock face for macOS and iOS.