div#contact.bodydiv(style="colour:#555555")
  p The best way to reach me is via email, #[a(href="https://www.linkedin.com/in/matthew-salt-4b674328/") LinkedIn] or #[a(href="https://github.com/mattsalt") GitHub].
  p This site was created using #[a(href="http://harpjs.com/") harp].