h1 Get in touch
hr
| I'm always open to feedback on any of my projects. 
ul
 li For any projects on github please get in touch through my #[a(href="https://github.com/mattsalt") github profile ]
 li Train Board and mytravelupdates aren't on github so the easiest way to get in touch is through the app, or on the website. If you don't fancy that feel free to reach out at 'matts mailto link'
 li If you want to discuss a career opportunity of any kind please get in #[a(href="mailto:contact@matthewsalt.com") touch directly]
